* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/bgmain.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 100vh; 
}
